body{
    background-color: #F5EBE0;
}

.logobox{
    left: 53px;
    top: 27px;
    position: absolute;
}

.logo{
    width: 392px; 
    height: 85px; 
    top: -10px
}

.round{
    width: 913px; 
    height: 50px; 
    left: 482px; 
    top: 36px; 
    position: absolute; 
    background: #D6CCC2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 46px; 
    border: 1px black solid;
}

.menu{
    color: black; 
    font-size: 25px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 1.50px; 
    word-wrap: break-word;
    text-decoration: none;
}

.elements{
    display: flex;
    gap: 50px;
    position: absolute;
    top: 43px;
    left: 510px;
}

.hero{
   width: 632px; 
   height: 553px; 
   left: 70px; 
   top: 235px; 
   position: absolute;
}

.headingBox{
    width: 550px; 
    height: 350px; 
    left: 30px; 
    top: 0px; 
    position: absolute; 
    background: #D5BDAF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 50px; 
    border: 1px black solid
}

.headText{
    width: 538px; 
    height: 350px; 
    left: 80px; 
    top: 35px; 
    position: absolute;
}

.headerText1{
    color: black; 
    font-size: 40px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 6px;
    word-wrap: break-word;
}

.headerText2{
    color: black; 
    font-size: 40px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 700; 
    letter-spacing: 6px;
     word-wrap: break-word;
}

.im1{
    width: 300px; 
    height: 250px; 
    left: 25px; 
    top: 150px; 
    position: absolute; 
    transform: rotate(5.22deg); 
    transform-origin: 0 0; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border: 1px black solid;
}

.im2{
    width: 300px; 
    height: 300px; 
    left: 45px; 
    top: 60px; 
    position: absolute; 
    transform: rotate(-11.88deg); 
    transform-origin: 0 0; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border: 1px black solid
}

.imbox{
    width: 450px; 
    height: 600px; 
    left: 826px; 
    top: 158px; 
    position: absolute;
}

.aboutHead{
    left: 600px;
    top: 154px; 
    position: absolute; 
    color: black; 
    font-size: 40px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 6.60px; 
    word-wrap: break-word;
}

.ServiceHead{
    left: 580px;
    top: 154px; 
    position: absolute; 
    color: black; 
    font-size: 40px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 6.60px; 
    word-wrap: break-word;
}

.aboutUsBox{
    width: 1000px;
    height: 400px; 
    left: 127px; 
    top: 230px; 
    position: absolute;
}

.aboutUsbg{
    width: 1050px; 
    height: 430px; 
    left: 50px; 
    top: 0px; 
    position: absolute; 
    background: #D5BDAF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 50px; border: 1px black solid;
}

.aboutUsText{
    width: 900px; 
    height: 474px; 
    left: 150px; 
    top: 22px; 
    position: absolute; 
    color: black; 
    font-size: 25px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2.0px; 
    word-wrap: break-word;
}

.aboutFounderHead{
    width: 884px; 
    height: 119px; 
    left: 500px; 
    top: 740px; 
    position: absolute; 
    color: black; 
    font-size: 40px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 7.70px; 
    word-wrap: break-word;
}

.line2{
    width: 100%; 
    height: 0px; 
    left: 0px; 
    top: 705px; 
    position: absolute; 
    border: 1px black solid;
}

.imgBox{
    width: 400px; 
    height: 400px; 
    left: 550px; 
    top: 800px; 
    position: absolute;
}

.papa{
    width: 400px; 
    height: 400px; 
    left: 7px; 
    top: 0px; 
    position: absolute;
}

.aboutPapaBox{
    width: 1050px; 
    height: 400px; 
    left: 110px; 
    top: 1220px; 
    position: absolute;
}

.aboutPapabg{
    width: 1050px; 
    height: 320px; 
    left: 90px; 
    top: 0px; 
    position: absolute; 
    background: #D5BDAF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 50px; 
    border: 1px black solid;
}

.aboutPapaText{
    width: 1000px; 
    height: 300px; 
    left: 125px; 
    top: 35px; 
    position: absolute; 
    color: black; 
    font-size: 25px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2.0px; 
    word-wrap: break-word;
}

.copyAboutBox{
    width: 100%; 
    height: 100%; 
    position: relative; 
    top: 1600px;
}

.copyAboutText{
    width: 800px; 
    height: 11px; 
    left: 600px; 
    top: 42px; 
    position: absolute; 
    color: black; 
    font-size: 12px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 3.30px; 
    word-wrap: break-word;
}

.copyAboutbg{
    width: 1500px; 
    height: 40px; 
    left: 0px; 
    top: 40px; 
    position: absolute; 
    background: #D6CCC2;
}

.serviceIntroBox{
    width: 1100px; 
    height: 278px; 
    left: 190px; 
    top: 249px; 
    position: absolute; 
    background: #D5BDAF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 50px; 
    border: 1px black solid;
}

.serviceIntroText{
    width: 1000px; 
    left: 250px; 
    top: 279px; 
    position: absolute; 
    color: black; 
    font-size: 25px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 1.20px; 
    word-wrap: break-word;
}

.egHead{
    left: 500px; 
    top: 600px; 
    position: absolute; 
    color: black; 
    font-size: 25px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    word-wrap: break-word;
}

.egText{
    color: black; 
    font-size: 25px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    word-wrap: break-word;
}

.egs{
    top:640px;
    left: 250px;
    position: absolute;
    display: grid;
    grid-template-columns: 30% 25% 30% 20% 30% ;
    grid-template-rows: 20% 20% 20%;
}

.line2Services{
    width: 100%; 
    height: 0px; 
    left: 0px; 
    top: 580px; 
    position: absolute; 
    border: 1px black solid;
}

.serImgBox{
    width: 1200px; 
    height: 600px; 
    left: 180px; 
    top: 820px; 
    position: absolute;
}

.serFootBox{
    width: 100%; 
    height: 100%; 
    position: relative; 
    top: 1500px;
}

.serFootbg{
    width: 1500px; 
    height: 40px; 
    left: 0px; 
    top: 40px; 
    position: absolute; 
    background: #D6CCC2;
}


.imgSer{
    height: 700px;
}

.contactHead{
    left: 550px; 
    top: 154px; 
    position: absolute; 
    color: black; 
    font-size: 40px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 6.60px; 
    word-wrap: break-word;
}

.contactBox{
    width: 876px; 
    height: 402px; 
    left: 320px; 
    top: 230px; 
    position: absolute;
}

.contactbg{
    width: 850px; 
    height: 360px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #D5BDAF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 50px; 
    border: 1px black solid;
}

.cName{
    width: 300px; 
    height: 48px; 
    left: 265px; 
    top: 47px; 
    position: absolute; 
    color: black; 
    font-size: 25px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 3.30px; 
    word-wrap: break-word;
}

.cAdd{
    width: 596px; 
    height: 151px; 
    left: 263px; 
    top: 100px;
    position: absolute; 
    color: black; 
    font-size: 25px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 3.30px; 
    word-wrap: break-word;
}

.cemail{
    width: 458px; 
    height: 52px; 
    left: 263px; 
    top: 255px; 
    position: absolute; 
    color: black; 
    font-size: 25px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 3.30px; 
    word-wrap: break-word;
}

.cNameimg{
    width: 50px; 
    height: 45px; 
    left: 186px; 
    top: 43px; 
    position: absolute;
}

.cAddimg{
    width: 50px; 
    height: 50px; 
    left: 188px; 
    top: 110px; 
    position: absolute;
}

.cemailimg{
    width: 66px; 
    height: 60px; 
    left: 180px; 
    top: 240px; 
    position: absolute;
}

.h2c{
    left: 520px; 
    top: 700px; 
    position: absolute; 
    color: black; 
    font-size: 40px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 6.60px; 
    word-wrap: break-word;
}

.cline2{
    width: 100%; 
    height: 0px; 
    left: 0px; 
    top: 670px; 
    position: absolute; 
    border: 1px black solid;
}

.formBox{
    width: 876px; 
    height: 400px; 
    left: 320px; 
    top: 810px; 
    position: absolute;
}

.formbg{
    width: 800px; 
    height: 450px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #D5BDAF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 83px; 
    border: 1px black solid;
}

.formContent{
    width: 622px; 
    height: 260px; 
    left: 90px; 
    top: 30px; 
    position: absolute;
}

.nameLabel{
    left: 3px; 
    top: 19px; 
    position: absolute; 
    color: black; 
    font-size: 25px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 3.30px;
    word-wrap: break-word;
}

.emailLabel{
    left: 0px; 
    top: 97px; 
    position: absolute; 
    color: black; 
    font-size: 25px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 3.30px; 
    word-wrap: break-word;
}

.phoneLabel{
    left: 0px; 
    top: 177px; 
    position: absolute; 
    color: black; 
    font-size: 25px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 3.30px; 
    word-wrap: break-word;
}

.textLabel{
    left: 3px; 
    top: 256px; 
    position: absolute; 
    color: black; 
    font-size: 25px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 3.30px; 
    word-wrap: break-word;
}

#username{
    width: 330px; 
    height: 40px; 
    left: 220px; 
    top: 12px; 
    position: absolute; 
    background: #F5EBE0; 
    border-radius: 269.50px; 
    font-size: 20px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2.0px; 
    word-wrap: break-word;
}

#email{ 
    width: 330px; 
    height: 40px; 
    left: 220px; 
    top: 92px; 
    position: absolute;
    background: #F5EBE0; 
    border-radius: 269.50px; 
    font-size: 20px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2.0px; 
    word-wrap: break-word;
}

#phone{
    width: 330px; 
    height: 40px; 
    left: 220px; 
    top: 174px; 
    position: absolute; 
    background: #F5EBE0;
    border-radius: 269.50px; 
    font-size: 20px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2.0px; 
    word-wrap: break-word;
}

#text{
    width: 330px; 
    height: 40px; 
    left: 220px; 
    top: 253px; 
    position: absolute;
    background: #F5EBE0; 
    border-radius: 269.50px; 
    font-size: 20px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2.0px;
    word-wrap: break-word;
}

.footBoxc{
    width: 100%; 
    height: 100%; 
    position: relative; 
    top: 1250px;
}

.footerbgc{
    width: 1500px; 
    height: 40px; 
    left: 0px; 
    top: 40px; 
    position: absolute; 
    background: #D6CCC2;
}

.bBox{
    width: 199px; 
    height: 61px; 
    left: 280px; 
    top: 350px; 
    position: absolute; 
    border: none; 
    background: none; 
    padding: 0;
}

.bBg{
    width: 150px; 
    height: 50px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #F5EBE0; 
    border-radius: 269.50px;
}

.bText{
    left: 24px; 
    top: 7px; 
    position: absolute; 
    color: black; 
    font-size: 25px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 3.30px; 
    word-wrap: break-word;
}

.mtextbox{
    width: 1130px; 
    height: 350px; 
    left: 130px; 
    top: 230px; 
    position: absolute;
}

.mtextboxbg{
    width: 1200px; 
    height: 350px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #D5BDAF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 50px; 
    border: 1px black solid;
}

.mtextboxtext{
    width: 1082px; 
    left: 86px; 
    top: 20px; 
    position: absolute; 
    color: black; 
    font-size: 25px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2.20px; 
    word-wrap: break-word;
}

.mline2{
    width: 100%; 
    height: 0px; 
    left: 0px; 
    top: 650px; 
    position: absolute; 
    border: 1px black solid;
}

.m1{
    width: 1304px; 
    height: 687px; 
    left: 64px; 
    top: 700px; 
    position: absolute;
}

.m1bg{
    width: 1200px; 
    height: 400px; 
    left: 50px; 
    top: 70px; 
    position: absolute; 
    background: #D6CCC2; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 50px; 
    border: 1px black solid;
}

.m1h1{
    width: 915px; 
    height: 41px; 
    left: 350px; 
    top: 0px; 
    position: absolute; 
    color: black; 
    font-size: 30px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 4.40px; 
    word-wrap: break-word;
}

.m1img1{
    width: 450px; 
    height: 200px; 
    left: 620px; 
    top: 260px; 
    position: absolute;
}

.m1text{
    width: 1100px;
    height: 300px; 
    left: 90px; 
    top: 100px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2.86px; 
    word-wrap: break-word;
}

.m2{
    width: 1304px; 
    height: 691px; 
    left: 64px; 
    top: 1220px; 
    position: absolute;
}

.m2bg{
    width: 1200px; 
    height: 400px; 
    left: 50px; 
    top: 70px; 
    position: absolute; 
    background: #D6CCC2; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 50px; 
    border: 1px black solid;
}

.m2h1{
    width: 915px; 
    height: 41px; 
    left: 350px; 
    top: 0px; 
    position: absolute; 
    color: black; 
    font-size: 30px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 4.40px; 
    word-wrap: break-word;
}

.m2text{
    width: 700px; 
    height: 286px; 
    left: 90px; 
    top: 100px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2.75px; 
    word-wrap: break-word;
}

.m2img1{
    width: 400px; 
    height: 300px; 
    left: 800px; 
    top: 135px; 
    position: absolute;
}

.m3{
    width: 1304px;
    height: 690px; 
    left: 64px; 
    top: 1740px; 
    position: absolute;
}

.m3bg{
    width: 1200px; 
    height: 400px; 
    left: 50px; 
    top: 81px; 
    position: absolute; 
    background: #D6CCC2; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 50px; 
    border: 1px black solid;
}

.m3h1{
    width: 915px; 
    height: 41px; 
    left: 500px; 
    top: 0px; 
    position: absolute; 
    color: black; 
    font-size: 30px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 4.40px; 
    word-wrap: break-word;
}

.m3text{
    width: 700px; 
    height: 300px; 
    left: 477px;
    top: 120px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2.75px; 
    word-wrap: break-word;
}

.m3img{
    width: 380px; 
    height: 300px;
    left: 70px; 
    top: 150px; 
    position: absolute;
}
   

.m4{
    width: 1304px; 
    height: 685px; 
    left: 64px; 
    top: 2260px; 
    position: absolute;
}

.m4bg{
    width: 1200px; 
    height: 400px; 
    left: 50px; 
    top: 84px;
    position: absolute; 
    background: #D6CCC2; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 50px;
    border: 1px black solid;
}

.m4h1{
    width: 915px; 
    height: 41px; 
    left: 350px; 
    top: 0px; 
    position: absolute; 
    color: black; 
    font-size: 30px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 4.40px; 
    word-wrap: break-word;
}

.m4text{
    width: 700px; 
    height: 286px; 
    left: 100px; 
    top: 110px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2.75px; 
    word-wrap: break-word;
}

.m4img{
    width: 420px; 
    height: 320px; 
    left: 805px; 
    top: 140px; 
    position: absolute;
}

.m5{
    width: 1304px; 
    height: 685px; 
    left: 64px; 
    top: 2780px; 
    position: absolute;
}

.m5bg{
    width: 1200px; 
    height: 400px; 
    left: 50px; 
    top: 84px; 
    position: absolute;
    background: #D6CCC2; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 50px; 
    border: 1px black solid;
}

.m5h1{
    width: 915px; 
    height: 41px; 
    left: 450px; 
    top: 0px; 
    position: absolute; 
    color: black; 
    font-size: 30px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 4.40px; 
    word-wrap: break-word;
}

.m5text{
    width: 850px; 
    height: 448px; 
    left: 373px; 
    top: 161px;
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2.75px; 
    word-wrap: break-word;
}

.m5img{
    width: 200px; 
    height: 300px; 
    left: 120px; 
    top: 115px; 
    position: absolute;
}

.m6{
    width: 1304px; 
    height: 685px; 
    left: 64px; 
    top: 3300px; 
    position: absolute;
}

.m6bg{
    width: 1200px; 
    height: 400px; 
    left: 50px; 
    top: 84px;
    position: absolute; 
    background: #D6CCC2; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 50px; 
    border: 1px black solid;
}
    
.m6h1{
    width: 915px; 
    height: 41px;
    left: 185px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 30px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 4.40px; 
    word-wrap: break-word;
}
    
.m6text{
    width: 725px; 
    height: 286px; 
    left: 85px; 
    top: 120px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2.75px; 
    word-wrap: break-word;}
    
.m6img{
    width: 350px; 
    height: 250px; 
    left: 850px; 
    top: 150px; 
    position: absolute;
}

.m7{
    width: 1304px; 
    height: 685px; 
    left: 64px; 
    top: 3820px; 
    position: absolute;
}

.m7bg{
    width: 1200px; 
    height: 400px; 
    left: 50px; 
    top: 84px; 
    position: absolute; 
    background: #D6CCC2; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 50px; 
    border: 1px black solid;
}

.m7text{
    width: 700px; 
    height: 350px; 
    left: 450px; 
    top: 110px; 
    position: absolute; 
    color: black; 
    font-size: 20px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 2.75px; 
    word-wrap: break-word
}

.m7h1{
    width: 915px; 
    height: 41px; 
    left: 185px; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 30px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 4.40px; 
    word-wrap: break-word;
}

.m7img{
    width: 300px; 
    height: 250px; 
    left: 81px; 
    top: 180px; 
    position: absolute;
}

.mline3{
    width: 100%; 
    height: 0px; 
    left: 0px; 
    top: 4380px; 
    position: absolute; 
    border: 1px black solid;
}

.vid{
    width: 611px; 
    height: 500px; 
    left: 400px; 
    top: 4400px; 
    position: absolute;
}

.vidbg{
    width: 300px; 
    height: 450px; 
    left: 150px; 
    top: 80px; 
    position: absolute; 
    background: #D5BDAF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 50px; 
    border: 1px black solid;
}

.vidh1{
    width: 602px; 
    height: 41px; 
    left: 120px; 
    top: 0px; 
    position: absolute; 
    color: black; 
    font-size: 30px; 
    font-family: 'Gowun Dodum', sans-serif; 
    font-weight: 400; 
    letter-spacing: 4.40px; 
    word-wrap: break-word;
}

.vidstyle{
    width: 180px; 
    height: 360px;
    left: 210px; 
    top: 130px; 
    position: absolute;
}

.mfoot{
    width: 100%; 
    height: 100%; 
    position: relative; 
    top: 5000px;
}

.mfootbg{
    width: 1500px; 
    height: 40px; 
    left: 0px; 
    top: 40px; 
    position: absolute; 
    background: #D6CCC2;
}

@media only screen and (max-width: 480px){
    .logo{
        width: 287px;
        height: 78px;
        left: 0px;
        top: 0px;
        position: absolute;
    }

    .hero {
        width: 401px;
        height: 428px;
        left: -3px;
        top: 250px;
        position: absolute;
    }

    .headingBox {
        width: 360px;
        height: 358px;
        left: 20px;
        top: 0px;
        position: absolute;
        background: #D5BDAF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        border: 1px black solid;
    }

    .headText {
        width: 308px;
        height: 393px;
        left: 60px;
        top: 35px;
        position: absolute;
    }

    .headerText1 {
        color: black;
        font-size: 30px;
        font-family: 'Gowun Dodum', sans-serif;
        font-weight: 400;
        letter-spacing: 6px;
        word-wrap: break-word;
    }

    .headerText2 {
        color: black;
        font-size: 30px;
        font-family: 'Gowun Dodum', sans-serif;
        font-weight: 700;
        letter-spacing: 6px;
        word-wrap: break-word;
    }

    .imbox{
        width: 400px; 
        height: 40px; 
        left: 50px; 
        top: 650px; 
        position: absolute;
    }

    .im1{
        top : 0px;
        left: 0px;
        height: 250px;
        width: 250px;
    }
    
    .im2{
        top : 80px;
        left: 40px;
        height: 250px;
        width: 250px;
    }

    .round{
        width: 377px; 
        height: 40px; 
        left: 15px; 
        top: 160px;       
        position: absolute; 
    }

    .elements{
        display: flex;
        gap: 10px;
        position: absolute;
        top: 170px;
        left: 30px;
    }

    .menu{
        color: black; 
        font-size: 13px; 
        font-family: 'Gowun Dodum', sans-serif; 
        font-weight: 500; 
        letter-spacing: 0px; 
        word-wrap: break-word;
        text-decoration: none;
    }

    .aboutHead{
        left: 100px; 
        top: 220px;
        position: absolute; 
        font-size: 25px; 
    }

    .aboutUsBox {
        width: 399px;
        height: 429px;
        left: -32px;
        top: 277px;
        position: absolute;
    }
    
    .aboutUsbg {
        width: 362px;
        height: 518px;
        left: 50px;
        top: 0px;
        position: absolute;
        background: #D5BDAF;
    }
    
    .aboutUsText {
        width: 315px;
        height: 473px;
        left: 84px;
        top: 22px;
        position: absolute;
        font-size: 15px;
    }

    .line2{
        top: 835px;
    }

    .aboutFounderHead{
        width: 400px; 
        height: 119px; 
        left: 15px; 
        top: 850px; 
        position: absolute; 
        font-size: 25px; 
    }

    .imgBox{
        width: 400px;
        height: 400px;
        left: 20px;
        top: 903px;
        position: absolute;
    }

    .papa {
        width: 209px;
        height: 209px;
        left: 76px;
        top: 0px;
        position: absolute;
    }
   
    .aboutPapaBox {
        width: 440px;
        height: 400px;
        left: -69px;
        top: 1135px;
        position: absolute;
    }

    .aboutPapabg {
        width: 376px;
        height: 383px;
        left: 88px;
        top: 0px;
        position: absolute;
    }

    .aboutPapaText {
        width: 328px;
        height: 300px;
        left: 125px;
        top: 35px;
        position: absolute;
        font-size: 15px;
    }

    .copyAboutText {
        width: 288px;
        height: 31px;
        left: 61px;
        top: 47px;
        position: absolute;
        font-size: 10px;
    }

    .copyAboutbg{
        width: 100%;
    }

    .serviceIntroBox{
        width: 383px;
        height: 318px;
        left: 15px;
        top: 275px;
        position: absolute;
    }

    .serviceIntroText {
        width: 339px;
        left: 40px;
        top: 298px;
        position: absolute;
        font-size: 15px;
    }

    .ServiceHead{
        left: 77px; 
        top: 220px;
        position: absolute; 
        font-size: 25px; 
    }

    .egHead {
        left: 40px;
        top: 643px;
        position: absolute;
        font-size: 14px;
    }

    .egText{
        font-size: 12px;
    }

    .egs {
        top: 660px;
        left: 60px;
        position: absolute;
        display: grid;
        grid-template-columns: 34% 40% 40%;
        grid-template-rows: 12% 12% 12% 12% 12%;
    }

    .line2Services{
        top: 620px;
    }

    .imgSer{
        height: 224px;
    }

    .serImgBox {
        left: 24px;
        top: 804px;
        position: absolute;
        width: 347px;
        height: 75px;
    }

    .serFootBox{
        width: 100%; 
        height: 100%; 
        position: relative; 
        top: 1000px;
    }
    
    .serFootbg{
        width: 480px; 
        height: 40px;
        left: 0px; 
        top: 40px; 
        position: absolute; 
        background: #D6CCC2;
    }

    .contactHead{
        left: 47px; 
        top: 227px;
        position: absolute; 
        font-size: 25px; 
    }

    .contactBox {
        width: 314px;
        height: 299px;
        left: 13px;
        top: 287px;
        position: absolute;
    }

    .contactbg {
        width: 374px;
        height: 313px;
        left: 0px;
        top: 0px;
        position: absolute;
    }

    .cName{
        width: 258px;
        height: 22px;
        left: 80px;
        top: 47px;
        position: absolute;
        font-size: 16px;
    }

    .cAdd {
        width: 305px;
        height: 22px;
        left: 71px;
        top: 100px;
        position: absolute;
        font-size: 16px;
    }

    .cemail{
        width: 275px;
        height: 33px;
        left: 80px;
        top: 225px;
        position: absolute;
        font-size: 16px;
    }

    .cNameimg {
        width: 35px;
        height: 35px;
        left: 24px;
        top: 44px;
        position: absolute;
    }

    .cAddimg {
        width: 35px;
        height: 35px;
        left: 22px;
        top: 126px;
        position: absolute;
    }

    .cemailimg {
        width: 51px;
        height: 52px;
        left: 10px;
        top: 209px;
        position: absolute;
    }

    .cline2 {
        width: 100%;
        height: 0px;
        left: 0px;
        top: 646px;
        position: absolute;
        border: 1px black solid;
    }

    .h2c {
        left: 38px;
        top: 676px;
        position: absolute;
        font-size: 25px;
    }

    .formBox {
        width: 302px;
        height: 327px;
        left: 10px;
        top: 741px;
        position: absolute;
    }

    .formbg {
        width: 391px;
        height: 371px;
        left: 0px;
        top: 0px;
        position: absolute;
    }

    .formContent {
        width: 299px;
        height: 260px;
        left: 90px;
        top: 30px;
        position: absolute;
    }

    .nameLabel {
        left: -50px;
        top: 19px;
        position: absolute;
        font-size: 15px;
    }

    .emailLabel {
        left: -50px;
        top: 86px;
        position: absolute;
        font-size: 15px;
    }

    .phoneLabel {
        left: -50px;
        top: 153px;
        position: absolute;
        font-size: 15px;
    }

    .textLabel{
        left: -50px;
        top: 220px;
        position: absolute;
        font-size: 15px;
    }
    
    #username {
        width: 176px;
        height: 30px;
        left: 109px;
        top: 16px;
        position: absolute;
        font-size: 15px;
    }

    #email {
        width: 176px;
        height: 30px;
        left: 109px;
        top: 80px;
        font-size: 15px;
        position: absolute;
    }

    #phone {
        width: 176px;
        height: 30px;
        left: 109px;
        top: 149px;
        font-size: 15px;
        position: absolute;
    }

    #text {
        width: 176px;
        height: 30px;
        left: 109px;
        top: 215px;
        font-size: 15px;
        position: absolute;
    }

    .footBoxc {
        width: 100%;
        height: 100%;
        position: relative;
        top: 1103px;
    }

    .bBox {
        width: 176px;
        height: 61px;
        left: 28px;
        top: 273px;
        position: absolute;
    }
    
    .bText {
        left: 40px;
        top: 14px;
        position: absolute;
        color: black;
        font-size: 15px;
    }

    .bBg {
        width: 137px;
        height: 32px;
        left: 11px;
        top: 8px;
        position: absolute;
    }

    .footerbgc{
        width: 100%;
    }

    .mtextbox {
        width: 258px;
        height: 350px;
        left: 12px;
        top: 277px;
        position: absolute;
    }

    .mtextboxbg {
        width: 381px;
        height: 470px;
        left: 0px;
        top: -6px;
        position: absolute;
    }

    .mtextboxtext {
        width: 329px;
        left: 40px;
        top: 20px;
        position: absolute;
        color: black;
        font-size: 15px;
    }
    
    .mline2{
        top: 765px;
    }

    .m1 {
        width: 417px;
        height: 143px;
        left: 64px;
        top: 700px;
        position: absolute;
    }

    .m1h1 {
        width: 276px;
        height: 41px;
        left: -5px;
        top: 82px;
        position: absolute;
        font-size: 16px;
    }

    .m1bg {
        width: 363px;
        height: 420px;
        left: -45px;
        top: 145px;
        position: absolute;
    }

    .m1text{
        width: 299px;
        height: 300px;
        left: -10px;
        top: 165px;
        position: absolute;
        font-size: 12px;
    }

    .m1img1 {
        width: 237px;
        height: 113px;
        left: 39px;
        top: 440px;
        position: absolute;
    }

    .m2 {
        width: 380px;
        height: 453px;
        left: -37px;
        top: 1293px;
        position: absolute;
    }

    .m2h1 {
        width: 421px;
        height: 41px;
        left: 60px;
        top: 5px;
        position: absolute;
        color: black;
        font-size: 16px;
    }

    .m2bg {
        width: 363px;
        height: 475px;
        left: 54px;
        top: 52px;
        position: absolute;
    }

    .m2text {
        width: 305px;
        height: 286px;
        left: 82px;
        top: 76px;
        position: absolute;
        color: black;
        font-size: 12px;
    }

    .m2img1 {
        width: 212px;
        height: 119px;
        left: 96px;
        top: 405px;
        position: absolute;
    }

    .m3 {
        width: 415px;
        height: 408px;
        left: -39px;
        top: 1855px;
        position: absolute;
    }

    .m3h1 {
        width: 225px;
        height: 30px;
        left: 136px;
        top: 6px;
        position: absolute;
        font-size: 16px;
    }

    .m3bg {
        width: 376px;
        height: 454px;
        left: 50px;
        top: 46px;
        position: absolute;
    }

    .m3text {
        width: 324px;
        height: 300px;
        left: 85px;
        top: 66px;
        position: absolute;
        font-size: 12px;
    }

    .m3img {
        width: 222px;
        height: 189px;
        left: 172px;
        top: 341px;
        position: absolute;
    }

    .m4 {
        width: 458px;
        height: 450px;
        left: -38px;
        top: 2382px;
        position: absolute;
    }

    .m4h1 {
        width: 426px;
        height: 41px;
        left: 54px;
        top: 7px;
        position: absolute;
        font-size: 16px;
    }

    .m4bg {
        width: 372px;
        height: 458px;
        left: 50px;
        top: 51px;
        position: absolute;
    }

    .m4text {
        width: 342px;
        height: 286px;
        left: 73px;
        top: 80px;
        position: absolute;
        font-size: 12px;
    }

    .m4img {
        width: 189px;
        height: 159px;
        left: 187px;
        top: 360px;
        position: absolute;
    }

    .m5 {
        width: 496px;
        height: 496px;
        left: -36px;
        top: 2917px;
        position: absolute;
    }

    .m5h1 {
        width: 371px;
        height: 41px;
        left: 87px;
        top: 4px;
        position: absolute;
        font-size: 16px;
    }


    .m5bg {
        width: 371px;
        height: 432px;
        left: 50px;
        top: 46px;
        position: absolute;
    }

    .m5text {
        width: 356px;
        height: 448px;
        left: 64px;
        top: 69px;
        position: absolute;
        font-size: 12px;
    }

    .m5img {
        width: 89px;
        height: 161px;
        left: 238px;
        top: 320px;
        position: absolute;
    }

    .m6 {
        width: 441px;
        height: 421px;
        left: -39px;
        top: 3407px;
        position: absolute;
    }

    .m6h1 {
        width: 331px;
        height: 41px;
        left: 76px;
        top: 19px;
        position: absolute;
        text-align: center;
        font-size: 16px;
    }

    .m6text {
        width: 331px;
        height: 286px;
        left: 76px;
        top: 81px;
        position: absolute;
        font-size: 12px;
    }

    .m6bg {
        width: 373px;
        height: 435px;
        left: 50px;
        top: 60px;
        position: absolute;
    }

    .m6img {
        width: 180px;
        height: 151px;
        left: 187px;
        top: 340px;
        position: absolute;
    }

    .m7 {
        width: 405px;
        height: 477px;
        left: -36px;
        top: 3936px;
        position: absolute;
    }

    .m7h1 {
        width: 358px;
        height: 14px;
        left: 60px;
        top: -1px;
        position: absolute;
        text-align: center;
        font-size: 16px;
    }

    .m7bg {
        width: 366px;
        height: 475px;
        left: 50px;
        top: 48px;
        position: absolute;
        background: #D6CCC2;
    }

    .m7text {
        width: 312px;
        height: 350px;
        left: 86px;
        top: 71px;
        position: absolute;
        color: black;
        font-size: 12px;
    }

    .m7img {
        width: 129px;
        height: 111px;
        left: 214px;
        top: 388px;
        position: absolute;
    }

    .mline3 {
        top: 4491px;
    }

    .vid {
        width: 237px;
        height: 252px;
        left: -94px;
        top: 4527px;
        position: absolute;
    }

    .vidh1 {
        width: 315px;
        height: 41px;
        left: 158px;
        top: 0px;
        position: absolute;
        font-size: 16px;
    }

    .vidbg {
        width: 256px;
        height: 370px;
        left: 150px;
        top: 47px;
        position: absolute;
    }

    .vidstyle {
        width: 180px;
        height: 360px;
        left: 190px;
        top: 45px;
        position: absolute;
    }

    .mfootbg{
        width: 420px;
    }
}